.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-24{
    margin-top: 24px;
}

.my-24{
    margin: 24px 0px;
}

.p-16{
    padding: 16px;
}

.ml-4{
    margin-left: 4px;
}

.ml-18{
    margin-left: 18px;
}

/* mouse over link */
a:hover {
    color: lightcoral;
}