body{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Verdana, sans-serif;
}

.box-right>div, .box-left>div{
    margin-bottom: 2px;
    
}

.lien{
    font-size: 18px;
}

form{
    width: 45%;
    max-width: 560px;
}

.legend-1{
    color: whitesmoke;
    background-color: cornflowerblue;
    text-align: center;
    padding: 2px;
}

.flex-1{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    gap:100px;
}

.d-block{
    display: block;
}

button{
    font-size: 16px;
    color: whitesmoke;
    background-color: cornflowerblue;
    text-align: center;
    border : none;
    border-radius: 4px;
    width: 160px;
    height: 28px;
}

button:hover{
    background-color: lightcoral;
}

@media all and (max-width: 1156px){
    form{
        width: 80%;
    }
}